:root {
    --primary-color: darkblue;
    --standard-padding: 10px;
}

nav {
    background-color: var(--primary-color);
    padding: var(--standard-padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--standard-padding);
}

/*this is a comment*/